<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Client Section -->
    <section class="h-full"></section>
    <!-- Agent Section -->
    <section></section>
    <!-- About and Contact Us Section -->
    <section></section>
    <!-- Footer Section -->
    <section></section>
  </body>
</html>
