<div class="px-5 md:px-20 md:ml-10">
  <div class="md:flex flex-row justify-between">
    <div class="max-w-2xl text-center md:text-start">
      <h1 class="font-bold text-5xl mt-16">
        Revolutionize your bill payment and delivery management with Jabk Lah
      </h1>
      <p class="text-[#C7C6C2] text-2xl font-bold mt-10">
        Comprehensive solution for managing transactions related to payment of
        bills and deliveries.
      </p>

      <div class="my-12">
        <button
          (click)="toContact()"
          class="bg-[#52E782] rounded-3xl py-3 px-8 font-semibold hover:bg-transparent hover:border-[#52E782] hover:border duration-300 border border-transparent"
        >
          Contact Us
        </button>
      </div>
    </div>

    <img
      src="../../../assets/Home/home.png"
      class="hidden md:inline-block w-5/12"
    />
  </div>
</div>
