<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="h-[70vh] md:h-screen font-popins">
    <!-- Agent Section -->
    <section
      class="w-full h-full bg-cream flex flex-row justify-center md:items-center p-10 md:p-0"
    >
      <div
        class="bg-white w-[100%] h-9 md:w-4/5 md:h-[90%] shadow-md rounded-[40px] flex flex-col md:flex-row items-center justify-between p-10 md:gap-36 relative"
      >
        <div class="absolute w-[200px] top-0 md:top-8">
          <img src="../../../assets/Home/Agent_side-01.png" alt="" />
        </div>
        <div
          class="md:w-[50%] w-full max-h-full flex flex-col items-center md:items-start mt-[40%] md:mt-[10%] lg:mt-0 gap-10"
        >
          <p
            class="text-center md:text-start text-xl font-medium leading-5 md:leading-[40px]"
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
            placeat molestiae, temporibus nisi perspiciatis assumenda ex
            aliquam, magnam praesentium eligendi at, quidem ea consectetur amet.
            Sed quod harum in fugit Lorem ipsum dolor sit amet Lorem ipsum.
          </p>
          <button
            class="w-[200px] h-[50px] rounded-md bg-shiny-green font-semibold"
          >
            Sign in as an Agent
          </button>
        </div>
        <div class="md:w-1/2 collapse md:visible">
          <img
            src="../../../assets/Home/Agent.png"
            alt="Image"
            class="w-[90%]"
          />
        </div>
      </div>
    </section>
  </body>
</html>
