.fixed {
  width: 100%;
  position: fixed;
  transition: 0.2s linear;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.44);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.notFixed {
  position: static;
  transition: 0.2s linear;
  top: -50px;
}
