<div
  class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 font-poppins"
>
  <div class="w-full max-w-sm p-4 bg-white rounded-lg shadow-2xl sm:p-6 md:p-8">
    <h1 class="text-2xl font-bold text-gray-900 text-center mt-5 mb-3">
      {{ loginTitle === "client" ? "Client login" : "Agent login" }}
    </h1>
    <p class="text-xs text-[#C7C6C2] text-center px-7 py-5">
      Hey , Enter your details to get sign in to your account
    </p>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm)"
      class="space-y-6"
    >
      <div>
        <input
          class="w-full text-sm bg-transparent border border-silver rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-shiny-green"
          formControlName="login"
          [placeholder]="
            inputType === 'email'
              ? 'Enter your email'
              : 'Enter your phone number'
          "
          type="{{ inputType === 'email' ? 'email' : 'tel' }}"
        />
      </div>
      <div
        *ngIf="
          loginForm.controls['login'].invalid &&
          (loginForm.controls['login'].dirty ||
            loginForm.controls['login'].touched)
        "
      >
        <div *ngIf=" loginForm.controls['login'].errors?.['required']">
          <p class="mt-1 text-xs text-red px-3">
            You forget to type your phone number
          </p>
        </div>

        <div
          *ngIf=" loginForm.controls['login'].errors?.[inputType==='email'?'email':'pattern']"
        >
          <p class="text-xs text-red px-3">This is not a phone number</p>
        </div>
      </div>
      <div>
        <input
          class="w-full text-sm bg-transparent border border-silver rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-shiny-green"
          formControlName="password"
          placeholder="Password"
          type="password"
        />
      </div>
      <div
        *ngIf=" loginForm.controls['password'].errors?.['required'] && (loginForm.controls['password'].dirty ||
            loginForm.controls['password'].touched)"
      >
        <p class="text-xs text-red px-3">
          <span class="font-medium">Oops!</span> Please enter your password
        </p>
      </div>
      <div class="mt-5">
        <a class="text-xs" href="#">Having trouble ?</a>
      </div>

      <div class="mb-5">
        <button
          type="submit"
          class="w-full mt-4 text-[#0E0E10] bg-[#52E782] hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
